.displaySearchesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 60vw;
  color: white;
}

.searchText {
  cursor: pointer;
  color: white !important;
  border-radius: 0px !important;
  background-color: #212F3D !important;
}

.dateText {
  font-size: small;
}


@media only screen and (max-width: 750px) {
  .displaySearchesContainer{
      width: 90vw;
  }
}
