.showSearchesButton {
    /*border-radius: 25px !important;*/
    width: 75%;
    margin-bottom: 10px !important;
    margin-top: 30px !important;
    height: 50px;

}

.moiveSearchContainer {
    background-color: yellow;
}

.loadingOrError {
    color: white;
}

@media only screen and (max-width: 750px) {
    .movieList{
        width: 90vw;
    }
}

.feedbackText {
    color: white;
  }