.showSearchesButton {
    width: 75%;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    height: 35px;
    border-radius: 0px !important;
    background-color: #4c3c43 !important;
    color: white !important;
    font-size: medium !important;
}

.loadingOrError {
    color: white;
}

@media only screen and (max-width: 750px) {
    .movieList{
        width: 90vw;
    }
}

.feedbackText {
    color: white;
  }

.filterAndSortContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 75%;
}

.searchAndLogContainer {
    display: flex;
    flex-direction: row-reverse;
}