.searchBar {
  margin: auto;
  margin-top: 20px;
  width: 75%;
  display: flex;
  flex-direction: row;
}

.searchInput {
  margin-left: 20px;
  text-align: center;
  margin-top: 20px;
  width: 60%;  
  background-color: white;
}

.searchButton{
  margin: auto;
  border-radius: 0px !important;
  width: 40%;
  margin-left: 20px !important;
  height: 56px;
  color: white !important;
  background-color: #cd6155 !important;
} 

